*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(43, 43, 43);
}
@media (min-width: 1600px){
    .container {
    max-width: 1590px;
    margin-right: auto;
    margin-left: auto;
    }
}
.wrapper {
    width: 80%;
    margin: auto;
}
.header {
    background: transparent;
    box-shadow: 5px 15px 25px rgb(255, 255, 255,0.3);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 100px; 
    background-color: transparent;
}
header img{
    width: 200px;
}
/* .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
} */
nav {
    /* width: 50%; */
    /* height: 50px; */
    display: flex;
    align-items: center;
}
nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; 
}

nav ul li {
    /* height: 100px; */
    list-style: none;
    padding: 10px;
     /* padding: 0 50px;  */
    /* transition: transform 0.5s; */
}
nav ul li:hover {
    transform: translateY(-5px);
    color: orange;  
    /* border: 3px solid orange;  */
     /* background: grey;
     border-radius: 3px; */
}
.nav-link[aria-current="page"]{
    color: orange;
    border-radius: 3px;
}
 nav ul li a:hover{
    color: orange;
} 
nav ul li a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
/* nav ul li:hover {
    color: orange;
} */

.sub-menu {
    display: none;
}
nav ul li:hover .sub-menu {
    /* display: flex;
    position: absolute; 
    background-color: orange;
    margin-top: 15px;  */
    /* margin-left: -15px; */
    display: block;
    position: absolute;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: -15px;
}
nav ul li:hover .sub-menu ul {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    display: block;
    margin: 10px;
    
}
nav ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid grey;
    background: transparent;
    border-radius: 0;
    text-align: left;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;     */
}
nav ul li:hover .sub-menu ul li:last-child {
    border-bottom: 0;
}
nav ul li:hover .sub-menu ul li a:hover {
    color: orange;
}
/* nav ul li a:hover {
    color: orange;
} */
.main {
    /* background-color: #262626; */
    /* background-color: rgb(43, 43, 43); */
    background: transparent;
    /* margin: 20px; */
}
 main{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* place-items: center; */
}

.slider {
    width: 100%;
    height: 600px;
    /* opacity: 0.8; */
    background-image: url(/Promobi/src/assets/images/img-1.jpg);
    background-position: center;
    background-size: cover;
    /* box-shadow: 0px 0px 20px  1px rgb(255, 255, 255,0.3); */
    animation: slider 10s linear infinite;
}
.slider:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}
@keyframes slider {
    0% {
        background-image: url(/Promobi/src/assets/images/img-1.jpg);
    }
    25% {
        background-image: url(/Promobi/src/assets/images/img-2.jpg);
    }
    50% {
        background-image: url(/Promobi/src/assets/images/img-2.jpg);
    }
    75% {
        background-image: url(/Promobi/src/assets/images/img-3.jpg);
    }
} 

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.section-1 {
    height: 400px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}
.cards {
    display: flex;
    width: 100%;
    
    justify-content: center;
    gap: 20px;
}
.card-1 p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: orange;
}
.card-2 p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: orange;
}
.card-3 p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: orange;
}
.card-4 p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: orange;
}
.card-1 p i {
    margin-left: 10px;
} 

.card-2 p i {
    margin-left: 10px;
}

.card-3 p i {
    margin-left: 10px;
}

.card-4 p i {
    margin-left: 10px;
}

.card-1 {
    width: 250px;
    height: 250px;
    position: relative;
    border: 3px solid black;
    /* box-shadow: 0px 0px 20px 1px #ffbb763f; */
    border-radius: 8px;
    transition: transform 0.5s;
}
.card-2 {
    width: 250px;
    height: 250px;
    position: relative;
    border: 3px solid black;
    /* box-shadow: 0px 0px 20px 1px #ffbb763f; */
    border-radius: 8px;
    transition: transform 0.5s;
}
.card-3 {
    width: 250px;
    height: 250px;
    position: relative;
    border: 3px solid black; 
    /* box-shadow: 0px 0px 20px 1px #ffbb763f; */
    border-radius: 8px; 
    transition: transform 0.5s;
}
.card-4{
    width: 250px;
    height: 250px;
    position: relative;
    border: 3px solid black;
    /* box-shadow: 0px 0px 20px 1px #ffbb763f; */
    border-radius: 8px;
    transition: transform 0.5s;
}

.card-1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/Promobi/src/assets/images/kitchen-1.jpg);
    background-image: url(/Promobi/src/assets/images/kitchen.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}
.card-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/Promobi/src/assets/images/livingroom.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}
.card-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/Promobi/src/assets/images/bedroom.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}
.card-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/Promobi/src/assets/images/zyre.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}
.card-1:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.card-2:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.card-3:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.card-4:hover{
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
}
 /* main {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden; 
    border: 10px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.3);
}
.slider img{
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
main .slider {
    width: 100%;
    height: 600px;
    display: flex; 
    animation: slide 10s infinite linear; 
}

@keyframes slide {
    0% {transform: translateX(0);}
    25% {transform: translateX(0);}
    30% {transform: translateX(-100%);}
    50% {transform: translateX(-100%);}
    55% {transform: translateX(-200%);}
    75% {transform: translateX(-200%);}
    80% {transform: translateX(-300%);}
    100% {transform: translateX(-300%);}
} */ 

.footer {
    /* background-color: black; */
    background: transparent;
    /* border-top: solid 1px orange; */
    box-shadow: 5px 10px 50px rgba(223, 121, 19, 0.643);
}
footer {
    background: transparent;
}

footer .contact-container{
    width: 100%; 
    padding: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.text-example {
    color: grey;
}

footer img {
    width: 150px;
}
/* footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    width: 100%;
} */
/* footer .text-example h1 {
    margin: 20% 0 10%;
} */
footer .text-example p, a {
    margin-top: 10px;
    height: 20px;
}

.social-icons {
    margin-top: 10px;
}

.text-example p i {
    color: grey;
    margin-right: 15px;
    width: 16px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: grey;
}
.social-icons a:hover {
    color: orange;
}   
.social-icons a i{
    transition: transform 0.5s;
}
.social-icons a i:hover {
    transform: translateY(-5px);
}
.location {
    color: grey;
}
.location p {
    margin-top: 10px;
    height: 20px;
}


@media screen and (min-width:320px) and (max-width:640px) { 
    .container {
    min-width: 320px;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    }

    .wrapper {
        width: 100%;
        margin: auto;
    }

    .header {
        float: none;
        display: block;
        text-align: left;
        height:50px;
      }
      header{
        height:50px;
      }
      .header-right {
        float: none;
      }
      nav {
        /* width: 50%; */
        /* height: 50px; */
        height: 30px;
        display: flex;
        align-items: center;
    }
    nav ul { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px; 
    }
    header img{

        width: 90px;
    }
    nav ul li {
        /* height: 100px; */
        list-style: none;
        padding: 10px;
         /* padding: 0 50px;  */
        /* transition: transform 0.5s; */
    }
    nav ul li:hover {
        transform: translateY(-5px);
        color: orange;  
        /* border: 3px solid orange;  */
         /* background: grey;
         border-radius: 3px; */
    }
    .nav-link[aria-current="page"]{
        color: orange;
        border-radius: 3px;
    }
     nav ul li a:hover{
        color: orange;
    } 
    nav ul li a {
        text-decoration: none;
        color: grey;
        font-size: 10px;
    }

    nav ul li:hover .sub-menu ul li {
        width: 70px;
        padding: 10px;
        border-bottom: 1px solid grey;
        background: transparent;
        border-radius: 0;
        text-align: left;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;     */

        
    }

    .cards {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .card-1 {
        margin-top: 10px;
        width: 100%;
        height: 250px;
        position: relative;
     
    }
    .card-2 {
        
        width: 100%;
        height: 250px;
        position: relative;
     
    }
    .card-3 {
        
        width: 100%;
        height: 250px;
        position: relative;
     
    }

    .card-4 {
        width: 100%;
        height: 250px;
        position: relative;
     
    }
    .footer{
        margin-top: 650px;
    }
 
    footer .contact-container{
        width: 100%; 
        padding: 10px auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

    footer img {
        width: 100px;
    }
    footer .text-example p, a {
        margin-top: 10px;
        height: 10px;
    }
    .social-icons a {
        text-decoration: none;
        font-size: 15px;
        padding-left: 5px;
        margin-right: 15px;
        color: grey;
    }
    .location p {
        margin-top: 10px;
        font-size: 15px;
    }
    .text-example #text {
       font-size:15px;
    }
  }